
body{
    margin: 0px;
    font-family: 'Chewy', cursive;
}

h1{
    background-color: rgb(20, 55, 67);
    text-align: center;
    color: rgb(0, 188, 251);
    padding: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}



#statusMessage{
    text-align: center;
    color: lightseagreen;
    font-family: 'Chewy', cursive;
    font-size: 1.5rem;

}

.col{
    justify-content: center;
    width: auto;
    display: flex;   
}
.gameBox{
    width: auto;
    background-color: lightseagreen;
    height: 383px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0;
    font-size: 50px;
    text-align: center;
    line-height: 100px;
    cursor: pointer;
    margin-bottom: 10px;
}


[data-index]{
    border: 1px solid black;
    width: 8rem;
    color: aliceblue;
    height: 8rem;
    
}
.scoreBoard{
    display: flex;
    justify-content: center;
    padding: 0px;
    margin-bottom: 10px;

}

.playerOneScoreBoard, .playerTwoScoreBoard{
    border: 3px solid rgb(0, 0, 0);
    padding: 10px;
    display: inline-block;
    text-align: center;
    border-radius: 5px;
    background-color: lightseagreen;
    width: 180px;
    margin-left: 24px;
}


.name1, .name2{
    font-size: 1.2rem;
    font-family: 'Chewy', cursive;
    border-bottom: 1px solid black;
    display: block;
}
.score1, .score2{
    font-size: 1.8rem;
    font: bold;
    font-family: 'Chewy', cursive;

}

.btnOption{
    display: flex;
    justify-content: center;
    
}

#resetScores, #resetBoard{
    background-color: lightseagreen;
    color: black;
    font-family: 'Chewy', cursive;
    margin: 10px;
    width: 30%;

}

.cell{
    transition: background-color 0.5s ease;
    font-family: 'Chewy', cursive;

}